{extend name="../oscshop/admin/view/public/base.html" /}
{block name="content"}
<script src="__PUBLIC__/js/worldAddress.js"></script>
<div class="page-header">
	<h1>	
		{$breadcrumb1}
		<small>
			<i class="ace-icon fa fa-angle-double-right"></i>
			{$crumbs}
		</small>
	</h1>
</div>
	
<table class="table table-striped table-bordered table-hover search-form">
	<thead>
		<th>    				
			<select name="goods_id">
				<option value="">{:lang('全部商品')}</option>			
				<?php $input_cid=input('goods_id'); ?>				
				{volist name="goodsInfo" id="cat"}
					<option {if condition="$input_cid eq $cat['goods_id']"} selected="selected"{/if} value="{$cat.goods_id}">{$cat.name}</option>
				{/volist}
				
			</select>
		</th>	
		<th><input name="user_name" type="text" placeholder="{:lang('输入会员用户名')}" value="{:input('param.user_name')}" /></th>		
		<th>
			<table id="tab">
				<tr>
					<td><font size="3" face="楷体"></font></td>
					<td><select id="s1" onchange="getCountry()" name="country"><option value=''>请选择国家</option></select></td>
					<td><select id="s2" onchange="getProvince()"
						style="display: none" name="province"><option value=''>省份、州</option></select> <select
						id="id_provSelect" style="display: none"
						onChange="getChinaProv(this.value);"><option value=''>请选择省份</option></select>
					</td>
					<td><select id="s3" style="display: none" name="city"><option value=''>地级市、县</option></select>
						<select id="id_citySelect"
						style="display: none" onChange="getChinaCity(this.value);"><option value=''>请选择城市</option></select>
					</td>
				</tr>
			</table>
		</th>
		<th>
			<a class="btn btn-primary" href="javascript:;" id="search" url="{:url('MemberBackend/setwinner')}">{:lang('查询')}</a>
		</th>
	</thead>
</table>	
	
<div class="row">
	<div class="col-xs-12">	
		<div class="table-responsive">
			<table class="table table-striped table-bordered table-hover">
				<thead>
					<tr>						
						<th>{:lang('头像')}</th>
						<th>{:lang('用户名')}</th> 
						<th>{:lang('用户组')}</th>
						<th>{:lang('省份')}</th>
						<th>{:lang('城市')}</th>
						<th>{:lang('中奖次数')}</th>
						<th>{:lang('最后中奖')}</th>
						<th>{:lang('当前余额')}</th>
						<th>{:lang('总充值')}</th>
						<th>{:lang('总消费')}</th>
						<th>{:lang('来源')}</th>
						<th>{:lang('登录次数')}</th>
						<th>{:lang('创建时间')}</th>		
					
						<th>{:lang('操作')}</th>	
					</tr>
				</thead>
				<tbody>
						{volist name="list" id="v" empty="$empty"}
						<tr>						
							<td>
								{if condition="$v['userpic']"}
		                  			<img src="IMG_ROOT{$v.userpic|resize=50,50}" />
			                  	{else /}
			                  		<img src="__PUBLIC__/image/no_image_50x50.jpg" />
			                  	{/if}
							</td>
							<td>
								{if condition="$v['reg_type'] NEQ 'weixin'"}
									{$v.username}
								{else/}
									{$v.nickname}
								{/if}
							</td>
							<td>
								{$v.title}
							</td>
							<td>
								{$v.province}
							</td>
							<td>
								{$v.city}
							</td>
							<td>
								{$v.wincount}
							</td>
							<td>
								{$v.lastwintime}
							</td>
							<td>
								{$v.balance}
							</td>
							<td>
								{$v.totalrecharge}
							</td>
							<td>
								{$v.totalconsume}
							</td>
							<td>
								{$v.from}
							</td>
							<td>{$v.loginnum}</td>
							<td>{if condition="$v['regdate'] neq 0"}{$v.regdate|date="Y-m-d",###}{else/}{:lang('无')}{/if}</td>
							<td>
								<input id="send" type="submit" value="{:lang('指定中奖')}" class="btn btn-primary" onclick='dosetwinner({$v["term_id"]},{$v["uid"]});'/>
							</td>
						</tr>
						{/volist}	
						
						<tr>
							<td colspan="20" class="page">{$list->render()}</td>
						</tr>
				</tbody>
				
			</table>
		</div>
	</div>
</div>
{/block}
{block name="javascript"}
<script>	
$(function(){
   $("#search").click(function () {
        var url = $(this).attr('url');
        var query = $('.search-form').find('input,select').serialize();
        query = query.replace(/(&|^)(\w*?\d*?\-*?_*?)*?=?((?=&)|(?=$))/g, '');
        query = query.replace(/^&/g, '');
        if (url.indexOf('?') > 0) {
            url += '&' + query;
        } else {
            url += '?' + query;
        }
        window.location.href = url;
    });	
});

function dosetwinner(term_id,uid){
	var back_index="{:url('member_backend/setwinner')}";
	$.post(
		'{:url("MemberBackend/setwinner")}',
		{"term_id":term_id,"uid":uid},
		function(d){
			art_dialog(d,back_index);
		}
	);
}

function getCountry() {
	change(1);
	var country = document.getElementById("s1");
	var province = document.getElementById("s2");
	var city = document.getElementById("s3");
	var provSelect = document.getElementById("id_provSelect");
	var citySelect = document.getElementById("id_citySelect");
	var areaSelect = document.getElementById("id_areaSelect");
	province.style.display = "block";
	provSelect.style.display = "none";
	citySelect.style.display = "none";
	areaSelect.style.display = "none";
}

function getProvince() {
	change(2);
	var province = document.getElementById("s2");
	var city = document.getElementById("s3");
	city.style.display = 'block';
}

var s = [ "s1", "s2", "s3" ];
var opt0 = [ "国家", "省份、州", "地级市、县" ];
change(0);
</script>
{/block}