<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
		<title>OneShop</title>

		<script src="__PUBLIC__/view_res/app/__PUBLIC__/view_res/app/js/swiper.min.js"></script>
		<script src="__PUBLIC__/view_res/app/__PUBLIC__/view_res/app/js/mui.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript" src="__PUBLIC__/view_res/app/__PUBLIC__/view_res/app/js/jquery.js"></script>
		<link href="__PUBLIC__/view_res/app/css/mui.css" rel="stylesheet" />
		<link rel="stylesheet" href="__PUBLIC__/view_res/app/css/swiper.css" />
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/view_res/app/css/style.css" />
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/view_res/app/css/iconfont.css" />
		<link rel="stylesheet" href="__PUBLIC__/view_res/app/css/index.css" />
	</head>

	<body>

		<div class="page search-page hide">

			<header class="mui-bar mui-bar-nav">
				<a class="mui-action-back-hoem mui-icon mui-icon-left-nav"></a>
				<div class="mui-input-row mui-search">
					<input type="search" class="mui-input-clear" placeholder="输入'购物卡'试一试">

				</div>
				<a class="mui-action-search mui-pull-right">搜 索</a>

			</header>

			<div class="mui-content">
				<div class="mui-card  top-search">
					<!--页眉，放置标题-->
					<div class="mui-card-header">
						热门搜索
					</div>
					<!--内容区-->
					<ul class="mui-card-content">

						<li>
							<a href="search.html">苹果</a>
						</li>
						<li>
							<a href="search.html">小米</a>
						</li>
						<li>
							<a href="search.html">平板电脑</a>
						</li>
						<li>
							<a href="search.html">数码</a>
						</li>
						<li>
							<a href="search.html">购物卡</a>
						</li>
						<li>
							<a href="search.html">话费</a>
						</li>

					</ul>
					<!--页脚，放置补充信息或支持的操作-->

				</div>

				<div class="mui-card classified-search">
					<!--页眉，放置标题-->
					<div class="mui-card-header">
						分类搜索
					</div>
					<ul class="mui-card-content">
						<li>
							
								<img src="__PUBLIC__/view_res/app/http://0.0.0.0:8099//uploads/cateimg/20150821/22065264158707.png" alt="">
								<span>综合购物</span>
							
						</li>
						<li>
							
								<img src="__PUBLIC__/view_res/app/http://0.0.0.0:8099//uploads/cateimg/20150821/22065264158707.png" alt="">
								<span>综合购物</span>
							
						</li>
						<li>
							
								<img src="__PUBLIC__/view_res/app/http://0.0.0.0:8099//uploads/cateimg/20150821/22065264158707.png" alt="">
								<span>综合购物</span>
							
						</li>
						
					</ul>
					
					<!--页脚，放置补充信息或支持的操作-->

				</div>

			</div>

		</div>

		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-to-search mui-icon iconfont icon-fenlei"></a>
			<h1 class="mui-title">LOGO</h1>
			<a class="mui-action-user mui-icon mui-icon mui-icon-contact mui-pull-right"></a>
		</header>

		<nav class="mui-bar mui-bar-tab">
			<a class="mui-tab-item " href="index.html">
				<span class="mui-icon iconfont icon-shouye"></span>
				<span class="mui-tab-label">首页</span>
			</a>
			<a class="mui-tab-item" href="glist.html">
				<span class="mui-icon iconfont icon-fenlei1"></span>
				<span class="mui-tab-label">所有商品</span>
			</a>
			<a class="mui-tab-item" href="lottery.html">
				<span class="mui-icon iconfont icon-jiangbei"></span>
				<span class="mui-tab-label">最新揭晓</span>
			</a>
			<a class="mui-tab-item" href="cartlist.html">
				<span class="mui-icon iconfont icon-gouwuche"><span class="mui-badge">9</span></span>
				<span class="mui-tab-label">购物车</span>
			</a>
			<a class="mui-tab-item" href="user/home.html">
				<span class="mui-icon iconfont icon-yonghu"></span>
				<span class="mui-tab-label">个人中心</span>
			</a>
		</nav>

		<div class="mui-content">
			<div class="swiper-container swiper-container-horizontal">
				<div class="swiper-wrapper">
					<div class="swiper-slide">
						<a href="#"><img src="__PUBLIC__/view_res/app/img/43126997251066.jpg"></a>
					</div>
					<div class="swiper-slide">
						<a href=""><img src="__PUBLIC__/view_res/app/img/18893713710495.jpg"></a>
					</div>
					<div class="swiper-slide">
						<a href=""><img src="__PUBLIC__/view_res/app/img/99675852710485.jpg"></a>
					</div>
				</div>
				<div class="swiper-pagination"></div>
			</div>

			<div class="mui-bar-tab banner-tab mt10">
				<div class="mui-tab-item">
					<span class="mui-icon iconfont icon-icon1"></span>
					<span class="mui-tab-label">签到</span>
				</div>
				<div class="mui-tab-item">
					<span class="mui-icon iconfont icon-shaidan"></span>
					<span class="mui-tab-label">晒单</span>
				</div>
				<div class="mui-tab-item">
					<span class="mui-icon iconfont icon-chongzhi"></span>
					<span class="mui-tab-label">充值</span>
				</div>
				<div class="mui-tab-item">
					<span class="mui-icon iconfont icon-bangzhu"></span>
					<span class="mui-tab-label">帮助</span>
				</div>

			</div>

			<div id="notice" class="notice">
				<i class="mui-icon iconfont icon-gonggao"></i>
				<div class="notice-wrapper" id="notice-wrapper">
					<ul class="notice-item" id="notice-item-a">
						<li>
							<a href="gonggao.html#18">2016年自由乐购端午放假通知</a>
						</li>
						<li>
							<a href="gonggao.html#19">关于暴雨天气导致配送延迟公告</a>
						</li>
					</ul>
					<ul class="notice-item" id="notice-item-b">
					</ul>
				</div>
				<a class="fr iconfont icon-youshuangjianhao-after" href="gonggao.html">更多</a>
			</div>

			<div class="mui-card-link">
				<div class="mui-card-header">
					最新揭晓
					<a class="iconfont icon-youshuangjianhao-after" href="lottery.html">显示全部更多</a>
				</div>
				<ul class="mui-content announced">

					<li>
						<dl class="announced-item">
							<dt>测试1</dt>
							<dd class="fl">
								<img class="lazy_loading_image" src="__PUBLIC__/view_res/app/images/goods.jpg">
							</dd>
							<dd>小石头</dd>
							<div class="clear"> </div>
						</dl>

					</li>

					<li>
						<dl class="announced-item">
							<dt>测试1</dt>
							<dd class="fl">
								<img class="lazy_loading_image" src="__PUBLIC__/view_res/app/images/goods.jpg">
							</dd>
							<dd>小石头</dd>
							<div class="clear"> </div>
						</dl>

					</li>
					<li>
						<dl class="announced-item">
							<dt>测试1</dt>
							<dd class="fl">
								<img class="lazy_loading_image" src="__PUBLIC__/view_res/app/images/goods.jpg">
							</dd>
							<dd>小石头</dd>
							<div class="clear"> </div>
						</dl>

					</li>

					<div class="clear"></div>
				</ul>

			</div>
			<div class="mui-content">
				<ul class="mui-bar-tab">
					<li class="mui-tab-item mui-active">
						即将揭晓
					</li>
					<li class="mui-tab-item">
						最快
					</li>
					<li class="mui-tab-item">
						高价
					</li>
					<li class="mui-tab-item">
						低价

					</li>
					<li class="mui-tab-item iconfont icon-fenlei1">
						<span>分类</span>
						<dl>
							<dt class="arrows"></dt>
							<dd>
								<img style="" src="__PUBLIC__/view_res/app/images/goods.jpg" alt="">全部分类
							</dd>
							<dd>
								<img src="__PUBLIC__/view_res/app/images/goods.jpg"><span>综合购物</span>
							</dd>
							<dd>
								<img src="__PUBLIC__/view_res/app/images/goods.jpg"><span>潮流新品</span>
							</dd>
							<div class="clear"></div>
						</dl>
					</li>

				</ul>
				<ul class="mui-content">
					<li>
						<dl class="buyItem">
							<dd class="img">
								<img class="lazy_loading_image" src="__PUBLIC__/view_res/app/images/goods.jpg"> <span class="jiazhi">价值：￥5000.00</span>
							</dd>
							<dt>（第3期）测试1</dt>
							<dd>
								<span class="fr buyAdd mui-btn-link iconfont icon-gouwuche"></span>
								<div class="progress-bar">
									<span>进度&nbsp;<font class="color_blue">4.00%</font>
									</span>
									<div class="mui-progressbar mui-progressbar-in" data-progress="20">
										<span></span>
									</div>
								</div>

							</dd>
						</dl>
					</li>
					<li>
						<dl class="buyItem">
							<dd class="img">
								<img class="lazy_loading_image" src="__PUBLIC__/view_res/app/images/goods.jpg"> <span class="jiazhi">价值：￥5000.00</span>
							</dd>
							<dt>（第3期）测试1</dt>
							<dd>
								<span class="fr buyAdd mui-btn-link iconfont icon-gouwuche"></span>
								<div class="progress-bar">
									<span>进度&nbsp;<font class="color_blue">4.00%</font>
									</span>
									<div class="mui-progressbar" data-progress="20">
										<span></span>
									</div>
								</div>

							</dd>
						</dl>
					</li>
					<li>
						<dl class="buyItem">
							<dd class="img">
								<img class="lazy_loading_image" src="__PUBLIC__/view_res/app/images/goods.jpg"> <span class="jiazhi">价值：￥5000.00</span>
							</dd>
							<dt>（第3期）测试1</dt>
							<dd>
								<span class="fr buyAdd mui-btn-link iconfont icon-gouwuche"></span>
								<div class="progress-bar">
									<span>进度&nbsp;<font class="color_blue">4.00%</font>
									</span>
									<div class="mui-progressbar" data-progress="20">
										<span></span>
									</div>
								</div>

							</dd>
						</dl>
					</li>
					<li>
						<dl class="buyItem">
							<dd class="img">
								<img class="lazy_loading_image" src="__PUBLIC__/view_res/app/images/goods.jpg"> <span class="jiazhi">价值：￥5000.00</span>
							</dd>
							<dt>（第3期）测试1</dt>
							<dd>
								<span class="fr buyAdd mui-btn-link iconfont icon-gouwuche"></span>
								<div class="progress-bar">
									<span>进度&nbsp;<font class="color_blue">4.00%</font>
									</span>
									<div class="mui-progressbar" data-progress="20">
										<span></span>
									</div>
								</div>

							</dd>
						</dl>
					</li>
					<div class="clear"></div>
				</ul>
			</div>

		</div>
		<script src="__PUBLIC__/view_res/app/js/base.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			//			mui(".mui-progress-bar").progressbar({progress:20}).show();
		</script>
	</body>

</html>