{extend name="public:base" /}
{block name="content"}	
<div class="page-header">
	<h1>	
		{$breadcrumb1}
		<small>
			<i class="ace-icon fa fa-angle-double-right"></i>
			{$breadcrumb2}
		</small>
	</h1>
</div>
<div class="page-header">
	<a href="{:url('Option/add')}" class="btn btn-primary">{:lang('新增选项')}</a>
</div>	
	
<div class="row">
	<div class="col-xs-12">	
		<div class="table-responsive">
			<table class="table table-striped table-bordered table-hover">
				<thead>
					<tr>											
						<th>{:lang('选项名称')}</th>
						<th>{:lang('英文选项名称')}</th>
						<th>{:lang('选项值')}</th> 
						<th>{:lang('英文选项值')}</th> 
						<th>{:lang('类型')}</th>  
						
						<th>{:lang('操作')}</th>				
					</tr>
				</thead>
				<tbody>
						{volist name="list" id="o" empty="$empty"}
						<tr>		
							<td>{$o.name}</td>	
							<td>{$o.name_en}</td>	
							<td>{$o.value}</td>	
							<td>{$o.value_en}</td>	
							<td>								
							{switch name="o.type"}
							    {case value="select"}{:lang('下拉列表')}{/case}							
							    {case value="radio"}{:lang('单选组')}{/case}
							    {case value="checkbox"}{:lang('多选组')}{/case}
							{/switch}
							</td>				
							<td>
								<a  class="btn btn-xs btn-info" href='{:url("Option/edit",array("id"=>$o["option_id"]))}'>
									<i class="fa fa-edit bigger-120"></i>
								</a> 
								<a class="delete btn btn-xs btn-danger" href='{:url("Option/del",array("id"=>$o["option_id"]))}' >
									<i class="fa fa-trash bigger-120"></i>
								</a>
							</td>
						</tr>
						{/volist}	
						
						<tr>
							<td colspan="20" class="page">{$list->render()}</td>
						</tr>
				</tbody>
				
			</table>
		</div>
	</div>
</div>
{/block}
